---
# provisioning-production.yml

- name: deployment | frontend applications
  hosts: "car-status-server"
  gather_facts: "false"
  tasks:
    - name: Create application container
      docker_container:
        name: car-status-service
        image: 409506722486.dkr.ecr.ap-southeast-1.amazonaws.com/car-status-service:latest
        env:
          PORT: 80
          REDISHOST: car-status-channel.nybflb.0001.apse1.cache.amazonaws.com
        ports:
         - "80:80"
